header {
    width: 100%;
    padding: 0.5em 0;
    border-bottom: 1px solid #e7e7e7;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background: white;
    font-size: 1.5em;
}
