@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Nunito';
    src: url('./fonts/Nunito-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Comic Neue';
    src: url('./fonts/ComicNeue-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Comic Neue';
    src: url('./fonts/ComicNeue-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

html,
body {
    margin: 0;
    padding: 0;
    background: #f0f0f0;
}

html,
body,
#root,
.App {
    height: 100%;
    user-select: none;
}

.App {
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

a {
    color: #58b4ff;
    text-decoration: none;
    transition: 150ms;
}

a:active {
    color: #3da8ff;
}

a:hover {
    color: #3da8ff;
}
