html,
body {
    margin: 0;
    padding: 0;
    background: #f0f0f0;
}

html,
body,
#root,
.App {
    height: 100%;
    user-select: none;
}

.App {
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

a {
    color: #58b4ff;
    text-decoration: none;
    transition: 150ms;
}

a:active {
    color: #3da8ff;
}

a:hover {
    color: #3da8ff;
}
